version: '3.8'
services:
  face-app:
    build:
      context: .
      dockerfile: Dockerfileface.prod
    container_name: face-app
    expose:
      - "3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    networks:
      - app-network

  hello-app:
    build:
      context: .
      dockerfile: Dockerfilehello.prod
    container_name: hello-app
    expose:
      - "3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - face-app
      - hello-app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

